// Navigation Styles here

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 1%;
    align-items: center;

    h1 {
        margin: 0% 24% 0% 0%;
    }//Closing bracket for h1

    a {
        justify-content: space-evenly;
        line-height: 1.5;
        font-size: 1.6rem;
        text-decoration: none;
        margin: 0% 2% 0% 0%;
        color: black;
    }//Closing brackets for a
}//Closing brackets for nav